<a href="https://colab.research.google.com/github/minstaar/Python-and-AI-Programming/blob/main/BasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
a = {'a', 'A', 'C', 'c', 'B', 'b'}
b = list(a)
print(a)
print(b[3])

{'a', 'c', 'C', 'b', 'B', 'A'}
b

In [57]:
A, B = map(int, input().split());
print(A + B)

2 3
5

In [67]:
li = [1, 2, 3, 4, 5]
for i in li:
  print(i, end="")
print()
for i in range(0, 5):
  print(i, li[i], sep=", ")

12345
0, 1
1, 2
2, 3
3, 4
4, 5

In [58]:
A = [1, 2, 3, 4, 5]
B = list(map(lambda x: x * 2, A))
print(B)

[2, 4, 6, 8, 10]

In [59]:
import copy

A = [1, 2, 3, 4, 5]

B = copy.deepcopy(A)

print(id(A), id(B))

add = lambda a, b: a + b

print(add(2, 3))

139984573393728 139984568697792
5

In [68]:
import copy

A = [1, 2, 3, 4, 5]

B = copy.deepcopy(A)

print(id(A), id(B))

add = lambda a, b: a + b

print(add(2, 3))

139984568651200 139984571032832
5

In [69]:
s = set()
print(type(s))
s.add(3)
print(s)

<class 'set'>
{3}

In [70]:
li = []
li.append(1)
print(li)

[1]

In [71]:
from collections import defaultdict, Counter

dic = defaultdict(int)
print(dic)

defaultdict(<class 'int'>, {})

In [72]:
from collections import Counter
li = [1, 2, 3, 1, 2, 2, 1, 3, 1]
res = Counter(li);
print(res, type(res))

Counter({1: 4, 2: 3, 3: 2}) <class 'collections.Counter'>

In [73]:
A = [1, 2, 3, 4, 5, 6]
B = [4, 5, 6, 7, 8, 9]
li = list(zip(A, B))
print(li)

[(1, 4), (2, 5), (3, 6), (4, 7), (5, 8), (6, 9)]

In [45]:
A = [1, 2, 3]
B = [4, 5, 6]

print(zip(A, B))
for pair in zip(A, B):
  print(pair, type(pair))

res = [pair for pair in zip(A, B)]
print(res)

print(list(zip(*res)))

<zip object at 0x7f50b298bec0>
(1, 4) <class 'tuple'>
(2, 5) <class 'tuple'>
(3, 6) <class 'tuple'>
[(1, 4), (2, 5), (3, 6)]
[(1, 2, 3), (4, 5, 6)]

In [42]:
res = [i * 2 for i in range(1, 6)]
print(res)

dp = [[0 for _ in range(0, 6)] for _ in range(0, 6)]
print(dp)

[2, 4, 6, 8, 10]
[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]]

In [52]:
A = [2, 4, 7, 6, 5, 3, 1]

for i, j in enumerate(A):
  print(i, j)

B = {1:5, 2:3, 3:7}
for i, j in enumerate(B):
  print(i, j, B[j])

0 2
1 4
2 7
3 6
4 5
5 3
6 1
0 1 5
1 2 3
2 3 7

In [55]:
A = [1, 2, 3, 4, 5]
A.append([6, 7])
A.extend([6, 7]);
print(A)

[1, 2, 3, 4, 5, [6, 7], 6, 7]

In [78]:
A = [2, 7, 6, 8, 4]
print(sorted(A, reverse=True))

B = [-2, -7, 6, 8, -4]
print(sorted(B), "\n", sorted(B, key=abs, reverse=True), sep="")
print(abs(B[0]))

[8, 7, 6, 4, 2]
[-7, -4, -2, 6, 8]
[8, -7, 6, -4, -2]
2

In [84]:
import sys
N = int(sys.stdin.readline())
li=[]
for i in range(N):
    a, b = map(int, sys.stdin.readline().split())
    li.append([a, b])
li.sort(key = lambda x: (-x[1], x[0]))
for i in li:
    print(i[0], i[1])