<a href="https://colab.research.google.com/github/minstaar/Python-and-AI-Programming/blob/main/Class%26Module%26Package.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
class Stocks:
  def __init__(self, name, price, count = 0):
    self.name = name
    self.price = price
    self.count = count

  def __repr__(self):
    return f"Stocks의 클릭 수(count = {self.count})"

  def click(self):
    self.count += 1

  def read(self):
    return self.count

  def reset(self):
    self.count = 0

lg = Stocks("LG전자", 150000)
print(lg.name, lg.price, lg.count)
lg.click()
print(lg.name, lg.price, lg.count)

lg.read()
lg.reset()

LG전자 150000 0
LG전자 150000 1

1

In [27]:
class subStocks(Stocks):
  def reset(self):
    self.count = 100

  def click(self):
    self.count *= 2

  def subPrice(self, price1):
    self.price1 = price1
    return f"subprice반환 ", self.price1

  def addcountprice(self, count, price):
    self.price = price
    self.count = count
    return f"price+100*count", self.price + 100 * self.count

sublg = subStocks("LG전자", 150000)
print(sublg.name, sublg.price, sublg.count)

sublg.reset()
print(sublg.name, sublg.price, sublg.count)
sublg.click()
sublg.click()
print(sublg.name, sublg.price, sublg.count)

LG전자 150000 0
LG전자 150000 100
LG전자 150000 400

In [28]:
import pandas as pd

pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [29]:
import math

print(math.pi)

3.141592653589793

In [30]:
from math import pi, sqrt

print(pi, sqrt(2))

3.141592653589793 1.4142135623730951

In [31]:
from math import *

print(pi, sqrt(2))

3.141592653589793 1.4142135623730951

In [32]:
from math import pi as p, sqrt as s

print(p, s(2))

3.141592653589793 1.4142135623730951

In [34]:
import urllib.request
response = urllib.request.urlopen('http://www.google.co.kr')
response.status

200

In [35]:
from urllib.request import Request, urlopen
req = Request('http://www.google.co.kr')
response = urlopen(req)
response.status

200